.banner {
  position: relative;
  h1 {
    font-size: 30px;
    line-height: 35px;
    font-family: 'segoeuibold';
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    @media(max-width: 768px){
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.box_body {
  position: relative;
  background-color: #F4F9FC;
  padding-top: 30px;
  overflow: hidden;
  .r_bg {
    position: absolute;
    right: 0;
    top: 0;
  }
  .row_new {
    margin-right: 0;
    margin-left: 0;
    .col_pd {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .item_new {
    position: relative;
    .height_img0{
      height: 480px;
      overflow: hidden;
    }
    .height_img1{
      height: 240px;
      overflow: hidden;
      @media(max-width: 767px){
        height: 260px;
      }
    }
    .title_new {
      font-size: 18px;
      line-height: 24px;
      font-family: 'segoeuibold';
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      background-image: linear-gradient(to top, #1b1c1d, #dce5ea03);
      padding: 20px;
      margin: 0;
    }
    .bot_item {
      color: #fff;
      padding: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(to top, #1b1c1d, #dce5ea03);
      h3 {
        font-size: 24px;
        line-height: 32px;
        font-family: 'segoeuibold';
      }
      .time {
        display: inline-block;
        margin-right: 20px;
        padding-left: 25px;
        background: url("../images/Path 536.png") top 4px left 0 no-repeat;
      }
      .cat_item {
        display: inline-block;
        padding-left: 25px;
        background: url("../images/Path 537.png") top 4px left 0 no-repeat;
      }
    }

    @media(max-width: 768px){
      .height_img0{
        height: 290px;
      }
    }
    @media(max-width: 500px){
      height: 265px;
    }
  }
  .bot_body {
    margin-top: 50px;
    h2 {
      font-size: 18px;
      font-family: 'segoeuibold';
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #DDDDDD;
      position: relative;
      margin-top: 20px;
      &:before {
        content: '';
        width: 60px;
        height: 2px;
        background-color: #333333;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .list_new {
      margin-top: 30px;
      .item_new1 {
        font-size: 16px;
        line-height: 24px;
        a {
          display: block;
          .height_2{
            height: 152px;
            overflow: hidden;
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            @media(min-width: 768px){
              img{
                max-width: 270px;
              }
            }
          }

          .r_content {
            color: #333;
            display: table-cell;
            text-align: justify;
            h3 {
              margin-top: 0;
              font-size: 18px;
              font-family: 'segoeuibold';
              line-height: 24px;
            }
            .time1 {
              display: block;
              padding-left: 20px;
              background: url("../images/Path 5361.png") top 6px left 0 no-repeat;
              margin-bottom: 7px;
            }
            .smr_new{
              margin: 0;
              height: 48px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              overflow: hidden;

            }
          }
        }
        @media(max-width: 767px){
          margin-bottom: 50px;
          a{
            .height_2{
              height: auto;
              margin-right: 0;
              margin-bottom: 20px;
              float: unset;
              img{
                margin: auto;
              }
            }
          }
        }
      }
    }
    .view_more{
      margin-bottom: 20px;
      background: url("../images/Rectangle 2010.png") top 10px left 0 repeat-x;
      a{
        display: inline-block;
        padding-right: 30px;
        padding-left: 20px;
        font-size: 15px;
        line-height: 20px;
        color: #2685CA;
        background: #F4F9FC url('../../../home/assets/images/Group 638.svg') top 0 right 0 no-repeat;
      }
    }
    .search_prd{
      position: relative;
      input{
        height: 50px;
        border-radius: 0;
        box-shadow: 1px 1px 10px rgba(0,0,0,15%);
      }

      .btn_search{
        display: inline-block;
        background-color: #2685CA;
        padding: 15px;
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
      }
    }

    .list_new_desc{
      margin-bottom: 50px;
      h2{
        font-size: 18px;
        font-family: 'segoeuibold';
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #DDDDDD;
        position: relative;
        margin-top: 40px;
        &:before {
          content: '';
          width: 60px;
          height: 2px;
          background-color: #333333;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      a{
        display: block;
        padding: 10px 0;
        font-size: 16px;
        line-height: 24px;
        color: #2685CA;
        border-bottom: 1px solid #DDDDDD;
      }
    }
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .item_{
    width: max-content;
  }
}
@media(max-width: 991px){

  .bot_body .row_bot{
    display: flex;
    flex-direction: column-reverse;
  }
}