.title_box {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: 'segoeuibold';
  @media(max-width: 768px) {
    font-size: 23px;
    line-height: 30px;
    padding-top: 30px;
  }
}

.border_1 {
  width: 60px;
  height: 2px;
  margin: auto;
  display: block;
  background-color: #333333;
  margin-bottom: 40px;
  @media(max-width: 768px) {
    margin-bottom: 30px;

  }
}

.box_about {
  padding-bottom: 80px;
  position: relative;
  .bg_left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
  }
  .bg_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
  }
  .ct_ab {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
  a {
    display: inline-block;
    padding-right: 30px;
    font-size: 15px;
    line-height: 20px;
    color: #2685CA;
    margin-top: 30px;
    background: url("../images/Group 638.svg") top 0 right 0 no-repeat;
  }
  @media(max-width: 768px) {
    .bg_left {
      width: 30%;
    }
    .bg_right {
      width: 30%;
    }
    a {
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}

.box_app {
  background-color: #F4F9FC;
  .bd1 {
    position: relative;
    .bd {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      .r_img {
        width: 80%;
        float: right;
        padding: 26px 0;
      }
      .l_app {
        .item_ap {
          display: none;
          color: #fff;
          font-size: 16px;
          line-height: 24px;
          h3 {
            font-size: 24px;
            font-family: 'segoeuibold';
            text-transform: uppercase;
            margin-top: 60px;
            margin-bottom: 20px;
          }
          p {
            margin-bottom: 35px;
          }
        }
        .active {
          display: block;
        }
      }
      .buton_app {
        position: relative;
        .click_app {
          width: 147px;
          height: 155px;
          display: block;
          cursor: pointer;
          background: transparent;
          transition: transform .5s, border .5s, background .5s, box-shadow .5s, opacity .5s, color .5s;
          text-rendering: optimizeLegibility;
          box-sizing: border-box;
        }
        .click_app_1 {
          position: absolute;
          top: 28px;
          left: 206px;

          &:hover {
            background-image: url("../images/htkcn.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;
          }
        }
        .click_app_1.active {
          background-image: url("../images/htkcn.png");
          background-size: 100%;
          background-position: top -1px left 0;
          background-repeat: no-repeat;
        }

        .click_app_2 {
          position: absolute;
          top: 26px;
          left: 361px;
          &:hover {
            background-image: url("../images/kdsx.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;

          }
        }
        .click_app_2.active {
          background-image: url("../images/kdsx.png");
          background-size: 100%;
          background-position: top -1px left 0;
          background-repeat: no-repeat;
        }
        .click_app_3 {
          position: absolute;
          top: 151px;
          right: 15px;
          &:hover {
            background-image: url("../images/kdbds.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;
          }
        }
        .click_app_3.active {
          background-image: url("../images/kdbds.png");
          background-size: 100%;
          background-position: top -1px left 0;
          background-repeat: no-repeat;
        }
        .click_app_4 {
          position: absolute;
          top: 276px;
          right: 92px;
          &:hover {
            background-image: url("../images/ksnd.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;
          }
        }
        .click_app_4.active {
          background-image: url("../images/ksnd.png");
          background-size: 100%;
          background-position: top 0 left 0;
          background-repeat: no-repeat;
        }
        .click_app_en1 {
          position: absolute;
          top: 26px;
          left: 203px;
          width: 148px;
          &:hover {
            background-image: url("../images/htkcn_en.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;
          }
        }
        .click_app_en1.active {
          background-image: url("../images/htkcn_en.png");
          background-size: 100%;
          background-position: top -1px left 0;
          background-repeat: no-repeat;
        }

        .click_app_en2 {
          position: absolute;
          top: 26px;
          left: 361px;
          &:hover {
            background-image: url("../images/kdsx_en.png");
            background-size: 100%;
            background-position: top 0 left 0;
            background-repeat: no-repeat;

          }
        }
        .click_app_en2.active {
          background-image: url("../images/kdsx_en.png");
          background-size: 100%;
          background-position: top 0 left 0;
          background-repeat: no-repeat;
        }
        .click_app_en3 {
          position: absolute;
          top: 151px;
          right: 15px;
          &:hover {
            background-image: url("../images/kdbds_en.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;
          }
        }
        .click_app_en3.active {
          background-image: url("../images/kdbds_en.png");
          background-size: 100%;
          background-position: top -1px left 0;
          background-repeat: no-repeat;
        }
        .click_app_en4 {
          position: absolute;
          top: 276px;
          right: 92px;
          &:hover {
            background-image: url("../images/ksnd_en.png");
            background-size: 100%;
            background-position: top -1px left 0;
            background-repeat: no-repeat;
          }
        }
        .click_app_en4.active {
          background-image: url("../images/ksnd_en.png");
          background-size: 100%;
          background-position: top 0 left 0;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .list_app {
    .item_app {
      position: relative;
      .box_bot {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        color: #f1f1f1;
        padding: 20px;
        h3 {
          font-size: 22px;
          margin-top: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .owl-dots {
      margin-bottom: auto;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 30px;
      .owl-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border: 2px solid #2685CA;
        border-radius: 50%;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .3s;

      }
      .active {
        background-color: #2685CA;
        border-color: #2685CA;
      }
    }
  }
}

.box_new {
  padding-bottom: 60px;
  position: relative;
  background: #F4F9FC;
  @media(max-width: 768px) {
    //display: none;
    background-color: #fff;
  }
  .bg_left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
  }
  .bg_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
  }
  .owl-carousel .owl-stage-outer {
    padding-bottom: 15px;
  }
  .item_new {
    background: #fff;
    box-shadow: 2px 3px 4px 1px #ccc;
    .height_img {
      height: 225px;
      overflow: hidden;
    }
    .bot_new {
      padding: 20px;
      h3 {
        font-size: 16px;
        line-height: 24px;
        font-family: 'segoeuibold';
        margin-top: 0;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 48px;
        color: #333;
      }
      .time_new {
        padding-left: 25px;
        line-height: 20px;
        display: inline-block;
        background: url("../images/Path 536.svg") top 4px left 0 no-repeat;
      }
      .cat_new {
        padding-left: 25px;
        line-height: 20px;
        display: inline-block;
        background: url("../images/Path 537.svg") top 4px left 0 no-repeat;
        //margin-left: 20px;
      }
    }
  }
  .owl-nav {
    text-align: right;
    margin-top: 20px;
    button {
      width: 40px;
      height: 40px;
    }
    .owl-next {
      background: url("../images/next_new.svg") top 0 left 0 no-repeat !important;
      &:hover, &:focus {
        background: url("../images/next_newa.svg") top 0 left 0 no-repeat !important;
      }
      span {
        display: none;
      }
    }
    .owl-prev {
      background: url("../images/prev_new.svg") top 0 left 0 no-repeat !important;
      margin-right: 10px;
      &:hover, &:focus {
        background: url("../images/prev_newa.svg") top 0 left 0 no-repeat !important;
      }
      span {
        display: none;
      }
    }
  }
  @media(max-width: 768px) {
    padding-bottom: 40px;
    .bg_left {
      width: 60%;
    }
    .bg_right {
      width: 60%;
    }
  }
}

.box_member {
  .box_ctt {
    position: relative;
    .img_mem {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 70px 0;
      img {
        margin: auto;
        width: 65%;
      }
    }
  }
  @media(max-width: 768px) {
    background: #F4F9FC;
    .box_ctt {
      .img_mem {
        padding: 20px 0;
      }
    }
  }
}