.products {
  position: relative;
  .title-module {
      font-size: 20px;
      line-height: 30px;
      position: relative;
      border-bottom: 2px solid #e1e1e1;
      margin-bottom: 30px;
      padding-bottom: 10px;
  }
  .head-sort{
      position: absolute;
      top: 10px;
      right: 0px;
      .fun_item{
        position: relative;
    }
    .title {
        margin-right: 15px;
        color: #777777;
    }
    .total-homstay{
        font-weight: bold;
        color: #3174ff;
        font-size: 17px;
    }
  }
  

  .products-item{
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    img{
      margin-bottom: 15px;
    }
    .name {
        font-size: 15px;
        line-height: 25px;
        color: #333333;
        font-weight: normal;
        height: 50px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    p.summary {
        font-size: 15px;
        line-height: 25px;
        color: #3174ff;
        font-weight: bold;
        .price_old-pro {
          text-decoration: line-through;
          color: #999999;
        }
    }
  }
}
