@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-bottom() {
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin box-shadow() {
  box-shadow: 0 3px 3px rgba(102,102,102,0.1);
  -webkit-box-shadow: 0 3px 3px rgba(102,102,102,0.1);
  -moz-box-shadow: 0 3px 3px rgba(102,102,102,0.1);
  -ms-box-shadow: 0 3px 3px rgba(102,102,102,0.1);
}

.product{
  .product_base{
    @include border-radius(4px);
    background-color: #fff;
    border: 1px solid #ececec;
    padding: 20px;
    margin-bottom: 15px;
  }

  .name {
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .product-price{
      font-size: 30px;
      color: #3174ff;
      line-height: 36px;
      padding-bottom: 15px;
      border-bottom: 1px solid #e5e5e5;
      .price_old-pro{
        font-size: 25px;
        color: #999999;
      }
  }

  .content-base{
    >div{
      padding-top: 15px; 
      position: relative;
    }
    .form-info{
      border-right: 1px solid #e5e5e5;
    }
    .form-contact{
      margin-left: -1px;
      border-left: 1px solid #e5e5e5;
    }
    .item {
      font-size: 15px;
      line-height: 30px;
      position: relative;
      padding-left: 15px;
      &:before{
        position: absolute;
        content: '';
        top: 11px;
        left: 0px;
        border: 3px solid #ffbd06;
        border-radius: 50%;
      }
    }
    .summary{
      font-size: 14px;
      line-height: 20px;
      color: #777777;
    }
  }

  .form-contact{
    .info{
      font-size: 15px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    #quantity{
      width: 70px;
      height: 36px;
      margin: 0px 10px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      text-align: center;
    }
    .buy-now{
      display: block;
      line-height: 40px;
      font-size: 15px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #3174ff;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 25px;
    }
  }

  .config-phone{
      padding-left: 55px;
      position: relative;
      font-size: 15px;
      line-height: 21px;
      margin-bottom: 25px;
      strong{
        color: #3174ff;
      }
      i{
        position: absolute;
        left: 0px;
        top: 0px;
        color: #ffbd06;
        border: 1px solid;
        border-radius: 50%;
        font-size: 34px;
        height: 42px;
        width: 42px;
        text-align: center;
        line-height: 42px;
      }
  }
  .products-description{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin-bottom: 15px;
  }
  
  .product-tab{
    border-bottom: 1px solid #f5f5f5;
    ul{
      li{
        a{
          float: left;
          line-height: 50px;
          font-size: 14px;
          text-transform: uppercase; 
          padding: 0px 20px;
          position: relative;
        }
      }
      li.active{
        a{
          color: #3174ff; 
          &:after{
            position: absolute;
            content: '';
            left: 0px;
            bottom: 0px;
            width: 100%;
            border-bottom: 2px solid #3174ff;
          }
        }
      }
    }
  }
  .product_tab_content {
    padding: 20px;
  }
  .contents-description{
    line-height: 22px;
    font-size: 14px;
    p,ul{
      padding: 5px 0px;
    }
    ul{
      padding-left: 15px;
      list-style: inherit;
    }
    img{
      max-width: 100% !important;
      height: auto !important;
    }
  }
  .title-tab{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: normal;
  }
  .prodetails_tab{
    margin-bottom: 30px;
  }

  .item-products{
    float: left;
    width: 100%;  
    margin-bottom: 15px;
    img{
      float: left;
      max-width: 90px;
      margin-right: 10px;
    }
  }
  .related {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    .title {
        line-height: 50px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0px 20px;
        position: relative;
        border-bottom: 1px solid #f5f5f5;
    }
  }
  .list-related{
    padding: 15px;
    .title-pro{
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
        font-weight: normal;
    }
    .price-pro{
      font-size: 13px;
      color: #3174ff;
      line-height: 20px;
      font-weight: bold;
    }
    .price_old-pro{

    }
  }
}
